{% extends 'base.html.twig' %}

{% block body %}
    <h1>Card</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ card.id }}</td>
            </tr>
            <tr>
                <th>Cardtype</th>
                <td>{{ card.cardType }}</td>
            </tr>
            <tr>
                <th>Cardnumber</th>
                <td>{{ card.cardNumber }}</td>
            </tr>
            <tr>
                <th>Expirydate</th>
                <td>{% if card.expiryDate %}{{ card.expiryDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Securitycode</th>
                <td>{{ card.securityCode }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('card_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('card_edit', { 'id': card.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
